# Database config
DEV_DB_URL = "mongodb+srv://<username>:<passwsord>@cluster0.38bddhi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_URI = "mongodb+srv://<username>:<passwsord>@cluster0.38bddhi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
